<html>
  <body>
    <div class="sidebar">
        <p class="circle">ホーム</p>
        <p># 話題を検索</p>
        <p>メッセージ</p>
        <p>ブックマーク</p>
        <p>リスト</p>
        <p>プロフィール</p>
        <p>もっとみる</p>
        <p class="circle2"><%= link_to 'ツイートする', 'tweets/new' %></p>
    </div>
  </body>
</html>